openapi: 3.2.0
info:
  title: RocketDocument v2 Documents API
  version: '2.2'
servers:
- url: https://api-sandbox.rocketlawyer.com/rocketdoc/v2
  description: sandbox
- url: https://api.rocketlawyer.com/rocketdoc/v2
  description: production
security:
- bearerAuth: []
tags:
- name: Documents
paths:
  /documents/{documentId}:
    get:
      tags:
      - Documents
      description: A document is the result of a completed interview. This endpoint allows you to retrieve a document from a interview in the format specified by the `Accept` header. This endpoint allows you to fetch the document in either HTML or PDF format, as specified in the request.
      operationId: retrieve-document
      summary: Retrieve Document
      parameters:
      - $ref: '#/components/parameters/documentIdPath'
      - name: Accept
        in: header
        description: 'Specifies the desired format of the document. Supported formats answers:

          - `text/html`

          '
        required: false
        schema:
          enum:
          - text/html
          default: text/html
          type: string
      responses:
        '200':
          description: Returns the document in HTML format.
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      deprecated: false
components:
  parameters:
    documentIdPath:
      name: documentId
      in: path
      description: The Document's unique identifier.
      required: true
      schema:
        type: string
      example: 443b3b1e-584d-480a-a43a-7713f1d62633
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
